{% extends 'todo/base.html' %}

{% block content %}
<h2>Completed Todos</h2>
<div class="list-group">
  {% load static %}
  {% for todo in todos %}
  <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light text-secondary">
<div class="row">
<div class="col" style="max-width:50px">
  <form class="form-check p-0 h-100" action="{% url 'uncompletetodo' todo.id %}" method="POST">
    {% csrf_token %}
    <button class="btn mycheck-complete" type="submit"></button>
  </form>
</div>
<div class="col">
  <div class="col">


    <div class="d-flex w-100 justify-content-between">
    <p class="mb-1">{{todo.title}} {% if todo.important %}  <span class="text-warning"><small>&#9733;</small></span>{% endif %}</p>
      <small><span class="completed"><strong>Completed:</strong> {{ todo.datecompleted|date:"j M Y"}} at {{todo.datecompleted|time:"G:i a"}}</span></small>
    </div>
</div>

  </div>

</div>
  </a>
  {% endfor %}
</div>
{% endblock %}
