{% extends 'todo/base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{% if user.is_authenticated %}Hi {{ user.username|capfirst}}, welcome to {% else %}Welcome to {% endif %}Robodot Todo</h1>
        <p class="col-md-8 fs-4">You can create, update and tick-off your own todo list right here. We also provide API access to your todos.</p>
        {% if user.is_authenticated %}
        <a class="btn btn-danger btn-lg" href="{% url 'currenttodos' %}">Go to my current todos</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Sign Up</a>
        <a class="btn btn-success btn-lg" href="{% url 'loginuser' %}">Login</a>
        {% endif %}
      </div>
    </div>



{% endblock %}
